<html>

<head>
    <h1>Home Page</h1>
</head>

<body>
    <form action="" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"></input>
        <br />
        <label for="grade">Grade: </label>
        <input type="number" min="1" max="100" name="grade" />
        <input type="submit" style="display: none" />
    </form>
    <a href="disp_students">List All students</a>
    <br />
    <a href="greater">Grade Greater Than 85</a>
    <br />
    <br />
    <h3>Delete Student</h3>
    <form action="/deletestu" method="post">
        <input type="text" name="del"></input>
        <input type="submit" style="display: none" />
    </form>
    <h3>Update Student</h3>
    <form action="/updatestu" method="post">
        <label for="id">Student ID:</label>

        <input type="text" name="st_id" id="id"></input>
        <br />
        <label for="name">Name:</label>
        <input type="text" name="name" id="name"></input>
        <br />
        <label for="grade">Grade:</label>
        <input type="number" min="1" max="100" name="grade" id="grade" />
        <br />
        <input type="submit" style="display: none" />
    </form>
</body>

</html>